.last-sec {
  width: 300px;
  height: 500px;
  background-color: rgb(78, 133, 34);
  .wrap {
    background-color: red;
    padding: 20px;
    color: #fff;
    font-weight: bold;
  }
  .wrap2 {
    padding: 20px;
    font-weight: bold;
    width: 400px;
    background-color: aquamarine;
  }
}
